<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- TODO: create an icon component, similar to the opengraph one -->
	<link rel="icon" href="/img/cats.png" />

	<meta name="theme-color" content="#f6af7f">

	<script src="https://wcdn.numelon.com/sklair-shared/font-awesome-6.5.2-cloudflare-cdnjs.min.js" defer></script>

	<!-- <link href="/styles/selection-and-scrollbar.css" rel="stylesheet"> -->
</head>

<body>
</body>

</html>